<!-- <ion-app>
  <ion-content class="ion-padding ion-text-center">
    <img class="slide-in-elliptic-top-fwd" src="../../../assets/icon.png" />
    <p class="bounce-in-top">4° A</p>
    <p class="bounce-in-top">Gabriel Alegre</p>
  </ion-content>
</ion-app> -->

<ion-content class="background">
  <div class="ion-text-center h1Animado">
      <h1>4A</h1>
  </div>
  <div class="container ion-text-center">
      <img src="../../../assets/icon.png">
  </div>

  <div class="ion-text-center h2Animado">
      <h2>Gabriel Alegre</h2>
  </div>
</ion-content>
